.container{
    background-color: blue;
    height:  50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
 width: 280px;
 height: 28px;
 border: none;
 padding: 0;
}
.input:hover,
 input:focus-visible{
    border: none;
    outline: none;
 }
.SearchBtn{
    background-color: #FFFFFF;
    border: none;
    width: 28px;
    height: 28px;
}